name: Deploy to Production

on:
  push:
    branches:
      - deploy

jobs:
  frontend:
    name: Deploy Frontend
    runs-on: [self-hosted, frontend]
    steps:
      - name: Pull frontend image
        run: |
          cd ~/deploy
          docker compose pull
          docker compose up -d --remove-orphans

  backend:
    name: Deploy Backend
    runs-on: [self-hosted, backend]
    steps:
      - name: Pull backend image
        run: |
          cd ~/deploy
          docker compose pull
          docker compose up -d --remove-orphans
